    <!-- Panel Title -->
    <div id="panelTitle">
        <div id="panelLogo"><img id="logo" src="images/logo.png" style="height:100%" alt="Logo" /></div>
        <div id="panelText">
            <a style="cursor:pointer" id="home">首页</a>
            <a style="cursor:pointer" id="view-resources"title="加载地图资源">地图资源</a>
            <a style="cursor:pointer" id="editor" title="编辑工具">编辑工具</a>
            <a style="cursor:pointer" id="view-map" title="地图浏览">地图浏览</a>
            <a class="btn-menu toggle-menu" href="#more">More</a>
        </div>
        <div id="panelSearch">
            <div id="panelGeocoder"></div>
        </div>
        <div id="btnLocate"></div>
    </div>
